﻿/* Place custom styles below */
body {
}

#wrapper{
    width:80%;
    margin: 5px auto;
}

h2{
    margin:0;
    padding: 5px 20px;
    border: 2px solid #fbe69c;
    border-radius:6px;
    background-color: #fbe69c;
}

h3{
    border-left:10px solid #0094ff;
    border-bottom: 2px solid #0094ff;
    color: #0094ff;
    font-size: 1.2em;
    padding: 5px 30px;
}

p{
    margin-bottom:5px;
}

#filterdiv{
    margin:20px auto;
    padding:10px;
}

.leftdiv{
    width:350px;
    float:left;
    margin: 10px;  
}

.clearLeft{
    clear:left;
}

.buttonDiv{
    padding:5px;
}

#printablediv{
    padding: 10px;
    border-bottom: 1px solid black;
    font-family:'Century Gothic';
    font-size:12px;
}

.PrintDiv{
    font-family:'Century Gothic';
    font-size:8px !important;
}

.PrintDiv > table{
    font-size:8px !important;
}
